{% extends 'PewPasterBundle::layout.html.twig' %}
{% block content %}
    {% if error is defined %}
        <script>
            $(document).bind("pageinit", function() {
                setTimeout(function() {
                    $('#popupDialog').popup('open');
                }, 100);
            });
        </script>
        <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false">
            <div data-role="header" data-theme="a">
                <h1>Error</h1>
            </div>
            <div class="ui-content" role="main">
                <h1>Error</h1>
                <p>{{ error }}</p>
                <a class="ui-btn ui-shadow ui-corner-all ui-btn-b" data-rel="back" href="docs-dialogs.html">Ok, I get it</a>
            </div>
        </div>
    {% endif %}

    {% image '@PewPasterBundle/Resources/public/images/paster.png' %}
    <img src="{{ asset_url }}" alt="paster" style="margin: 0 auto;display:block;" />
    {% endimage %}

    <form method="post" action="{{ path('index') }}" data-ajax="false">
        <label for="textinput-hide" class="ui-hidden-accessible">Enter URL</label>
        <input name="url" id="textinput-hide" placeholder="Enter URL" value="" type="text">
        <button type="submit" class="ui-btn ui-icon-action ui-btn-icon-top ui-shadow-icon ui-btn-b">paste</button>
    </form>

    <h3 class="ui-bar ui-bar-a ui-corner-all">latest urls</h3>
        <ul data-role="listview" data-inset="true" data-divider-theme="a">
            {% for date, urls in pastes %}
            <li data-role="list-divider">{{ date }}</li>
            {% for url in urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
{% endblock %}